/*
	(c) Site News Module 2011 Dream Portal Team
*/

.dp_news .dp_dashed
{
	margin: 0.5em 0;
}

.dp_news img
{
	padding-right: 8px;
}

.dp_news > .dp_news_icon
{
	float:left;
}

.dp_news_avatar
{
	width: 45px;
	height: 45px;
}

